<header [ngSwitch]="headerMod">
  <!-- <button (click)="testLogin()">LOGIN</button> -->

  <ng-container *ngSwitchCase="headerModType.Home">
    <ng-container *ngIf="time$ | async as time">
      <div class="header-banner">
        <h2>今天的你，投票了嗎？</h2>
        <span>{{time.startAt | date:'yyyy'}}年學生會長副會長投票，從 {{time.startAt | date:'shortTime'}}到 {{time.endAt | date:'shortTime'}}熱烈招募中</span>
        <!-- <a class="button" [routerLink]="['/vote-list']">前往投票</a> -->
        <a *ngIf="(time$ | async).isVoteTime" class="button" (click)="login()">前往投票</a>
        <!-- <a=class="button" routerLink="/result">察看結果</a> -->

      </div>
    </ng-container>

  </ng-container>
  <ng-container *ngSwitchCase="headerModType.Finished">
    <div class="header-banner end">
      <h2>恭喜您已經完成投票！</h2>
      <a class="button" (click)="logout()">登出投票</a>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="headerModType.End">
    <div class="header-banner end">
      <h2>投票已經結束！</h2>
      <a class="button" routerLink="/result">察看結果</a>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="header-banner">
      <h2>投票尚未開始！</h2>
    </div>
  </ng-container>
</header>
