footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: #3B4043;
  color: #FFFFFF;

  span {
    margin-left: 1.5rem;
    font-size: 0.9rem;
  }

  a.action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 56px;
    background-color: #959EA7;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
  }

  &.fixed-footer {
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
    height: 56px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    span {
      font-size: 0.8rem;
    }
  }
}

.check-vote {
  img {
    width: 100%;
  }
}
