<app-navbar [navMod]="navMod"></app-navbar>
<article>
  <section class="vote-layout">
    <h4>投票列表</h4>
    <ul class="vote-list" *ngFor="let votePool of votePools$ | async">
      <li (click)="toVoting(votePool)">
        <h5>{{ votePool.name }}</h5>
        <span *ngIf="votePool.voted; else noVote">
          <i class="material-icons">
            how_to_reg
          </i>
          投票完成
        </span>
        <ng-template #noVote>
          <span>
            <i class="material-icons">
              how_to_vote
            </i>
            前往投票
          </span>
        </ng-template>
      </li>
    </ul>
  </section>
</article>
<app-footer></app-footer>
