.avatar {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  img {
    min-height: 200px;
    max-width: 120%;
  }
}

.content {
  h5 {
    font-size: 1.8rem;
  }

  h6 {
    display: block;
    margin-bottom: 1.4rem;
    color: #6F7579;
    opacity: 0.8;
  }

  .vote-select {
    .btn {
      padding: 0.5rem 0;
      min-width: 7rem;
      border: 2px solid #CDD6DD;
      border-radius: 8px;
      color: #6F7579;
      font-size: 0.9rem;
      cursor: pointer;

      &.select {
        background-color: #6F7579;
        color: #FFFFFF;
      }

      &:nth-child(2) {
        margin-left: 0.8rem;
      }
    }
  }
}
