body {
  color: #6F7579;
}

/* Button */

.button {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 36px;
  border-radius: 5px;
  background-color: #3B4043;
  color: #FFFFFF !important;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    opacity: 0.8;
  }
}

.outline-button {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

/* Button end */

/* Basic layout */

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    .content {
      h5 {
        font-size: 1.3rem;
      }

      h6 {
        font-size: 0.9rem;
      }

      span {
        font-size: 0.8rem;
        line-height: 1.3rem;

      }
    }
  }
}

/* Basic layout end */

/* Header */

header {
  display: flex;
  padding-top: 64px;
  width: 100%;
  height: 100vh;

  .header-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    width: 100%;
    height: calc(100% - 3rem);
    background-image: linear-gradient(to right, rgba(240, 243, 245, 0.85), rgba(240, 243, 245, 0.9)), url(/assets/images/banner.jpg);
    background-size: cover;
    text-align: center;
  }

  .header-banner.end {
    background-image: linear-gradient(to right, rgba(240, 243, 245, 0.85), rgba(240, 243, 245, 0.9)), url(/assets/images/banner-end.jpg);
    background-position: center center;
  }

  h2,
  span {
    display: block;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;

  }

  &.result {
    height: 50vh;

    h2 {
      margin-bottom: 0;
    }
  }
}

/* Header end */

@media only screen and (max-width: 600px) {
  header .header-banner {
    margin: 0;
    height: 100%;
  }
}


/* Section */
article {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin: 2.5rem 0.5rem 1.5rem 0.5rem;
      text-align: center;
      letter-spacing: 3px;

      &::after {
        display: block;
        margin: 0.8rem auto;
        width: 4em;
        height: 5px;
        border-radius: 10px;
        background-color: #6F7579;
        content: ' ';
      }
    }

    &.vote-layout {
      padding: 64px 1rem;
    }
  }

  >*:nth-child(2n)>section {
    background-color: #F0F3F5;
  }
}

/* Section end */
