article {

  section:nth-child(2n) {
    background-color: #F0F3F5;
  }
}

/* Result list */
.person-result-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    max-width: 1280px;
    width: 90%;

    .person {
      display: flex;
      align-items: center;
      flex: 1 0 20%;
      flex-direction: column;
      justify-content: center;

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;

        img {
          max-height: 250px;
        }
      }

      h3 {
        margin: 0.6rem;
      }
    }

    &:nth-child(2n) .person {
      order: 2;
    }
  }

  .chart {
    flex: 1 1 60%;
  }
}



/* Result list end */

.member-result-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 1rem;
  margin: auto;
  max-width: 1280px;
  width: calc(100% - 2rem);

  li {
    flex: 1 1;
    margin-bottom: 1.4rem;
    padding: 0 1rem;
    min-width: 240px;
    max-width: 50%;
    text-align: center;

    .avatar {
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;
      height: 300px;

      img {
        min-height: 300px;
        max-height: 320px;
      }
    }
  }

  &+.chart {
    margin: 0 2rem;
    margin-bottom: 1.5rem;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 720px) {
  .member-result-list li {
    max-width: 100%;
  }
}

#representative {
  >div {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    h3 {
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 1rem 2rem;
      background-color: #3b4043;
      color: #FFFFFF;
      max-width: 80%;

      &::before {
        position: absolute;
        bottom: -18px;
        width: 0;
        height: 0;
        border-width: 20px 15px 0 15px;
        border-style: solid;
        border-color: #3b4043 transparent transparent transparent;
        content: ' ';
      }
    }

    &:nth-child(2n+1) {
      background-color: #F0F3F5;
    }
  }
}
