.councilor-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 1rem;
  max-width: 1280px;
  width: 100%;

  li {
    flex: 1 1;
    padding: 0.75rem 1.5rem;
    min-width: 280px;
    max-width: 50%;

    .avatar {
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;

      img {
        max-width: 280px;
        width: 100%;
      }
    }

    h5 {
      display: block;
      margin: 0.5rem 0;
    }

    h6 {
      display: block;
      margin-bottom: 0.5rem;
      color: #959EA7;
    }
  }
}

@media only screen and (max-width: 600px) {
  .councilor-list {
    li {
      max-width: inherit;
    }
  }
}
